div#mainWrapper {
    background-color: gray;
    height: 100px;
    overflow: auto;
}
header {
    background-color: greenyellow;
    width: 500px;
    height: 70px;
    margin: 0 auto;
    margin-top: 15px;
}
h1 {
    height: 10px;
}
#basic p {
    font-size: 12px;
}
div#basic {
    margin-left: 15px;
    float: left;
}
nav {
    width: 300px;
    background-color: aqua;
    height: 40px;
    float: right;
    margin: 15px;
}
li {
    display: inline;
    margin-right: 10px;
    font-size: 12px;
}